@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --color-black: #282828;
  --color-white: #fafafa;
}

/* reusable classes */
.shadow {
  -webkit-box-shadow: 2px 2px 10px 1px #d2d2d2;
  -moz-box-shadow: 2px 2px 10px 1px #d2d2d2;
  box-shadow: 2px 2px 10px 1px #d2d2d2;
}

/* main styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: var(--color-white);
  font-family: 'Outfit', sans-serif;
  /* min-height: 100vh; */
}

/* navbar styling */
.navbar {
  margin: .5rem;
  padding: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black);
  border-radius: 30px;
}

.nav--list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.list--item {
  font-size: 1.75rem;
  color: var(--color-black);
  cursor: pointer;
}

/* header styling */
.header {
  margin: 0 .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.header--info,
.header--img {
  margin-bottom: .5rem;
  width: 100%;
  padding: 2.5rem 1.5rem;
  border: 1px solid var(--color-black);
  border-radius: 30px;
  color: var(--color-black);
}

.name {
  font-weight: 800;
  font-size: 2.5rem;
}

.bio {
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
}

.memoji {
  width: 15rem;
}